<ion-app>
  <ion-split-pane>

    <ion-menu side="start" menuId="custom">
      <ion-header>
        <ion-title *ngIf="!esMovil()">
          <ion-img src="../assets/img/logo2.png"></ion-img>
        </ion-title>
        <ion-title *ngIf="esMovil()">
          <ion-img src="../assets/img/logo3.png"></ion-img>
        </ion-title>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerLink]="['/home']">
              <ion-icon color="light" name="home"></ion-icon>
              <ion-label class="label" >
                <span class="color">Home</span>
              </ion-label>
            </ion-item>

            <ion-item [routerLink]="['/search']">
              <ion-icon color="light" name="search"></ion-icon>
              <ion-label>
                <span class="color">Buscar</span>
              </ion-label>
            </ion-item>


            <ion-item [routerLink]="['/alldata']">
              <ion-icon color="light" name="document"></ion-icon>
              <ion-label >
                <span class="color"> Datos</span>
              </ion-label>
            </ion-item>

            <ion-item class="logout" (click)="logout()">
              <ion-icon color="light" name="log-out"></ion-icon>
              <ion-label>
                <span class="color"> Logout</span>
              </ion-label>
            </ion-item>
            
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>



    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>


</ion-app>