// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
//@import '../node_modules/leaflet/dist/leaflet.css';
//@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";



.split-pane-md.split-pane-visible>.split-pane-side {
    //min-width: 77px;
    min-width: 150px;
    max-width: 4%;
    border-right: var(--border);
    border-left: 0;
    
}

.color{
  color:white;
}

#sidenav {
  ion-item-group[submenu] {
    overflow: hidden;
    display: block;
    height: 0;
    transition: height .3s linear;
    padding-left: 20%;
    &.visible {
        height: inherit;
        // this is just sample value, calculate how much space you need for your menu items
    }
  }
}


ion-toolbar {
      height: 64px;//by default 56px
}

ion-content{
  --background:rgb(241, 241, 241);
}

ion-menu{
  ion-header{
    ion-toolbar {
      ion-title{
        height: 84px;
      }
    }
  }
  ion-content{
     //--background:rgb(35,35,35);
     --background:var(--ion-color-orange) !important;
  }
  ion-item{
   // --background:rgb(35,35,35);
    --background:var(--ion-color-orange) !important;

     ion-icon{ padding-right: 10px !important; }
     ion-label{
      display: none;

    }
}
 }

 .list-md{
   padding-top: 0px;
   padding-bottom: 0px;
 }

 .logout{
  cursor: pointer;
 }

@media (max-width:760px){
  
  ion-menu{
    ion-header{
      height: 60px;
      ion-toolbar{
        height: 60px;
          img{
            margin-top: 40px;
          }
        
     }

    }
  }
}

.ion-color-orange {
  --ion-color-base: var(--ion-color-orange) !important;
  --ion-color-base-rgb: var(--ion-color-orange-rgb) !important;
  --ion-color-contrast: var(--ion-color-orange-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-orange-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-orange-shade) !important;
  --ion-color-tint: var(--ion-color-orange-tint) !important;
}